* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    padding: 30px;
    font-family: 'Livvic', sans-serif;
    box-sizing: border-box;
    background-color: #fff;
    overflow-x: hidden;

  }

  .hamburger{

  }

 
  
 /* nav {
    margin: 30px;
    background-color: #f9ed69;
    color: #f08a5d;
  }*/

  .flo{
    float: left;
    margin-left: 10px;
    padding: 10px;
    color: #000;
    font-size: 30px;
    font-weight: bolder;
  }


  /*.button {
    float: right;
  }*/


  nav::after {
    content: "";
    clear: both;
    display: table;
  }

  .navigation {
      list-style: none;
      padding-top: 20px;
      margin-right: 10px;

    } 

    li{
      display: inline;
      float: right;
      background-color: #ff6000;
      padding: 10px;

    }

    a{
      text-decoration: none;
      size: 20px;
      color: #fff;
    }

    .icon{
      background-color: #3346ff;
    }

    .icon:hover{
      background-color: #8490ff;
    }

    .first-section{
      background-image: 
      /*linear-gradient(to right bottom,
        rgba(5, 27, 229, 0.8),
        rgba(235, 47, 100, 0.8),*/
        url("Images/bg-2.jpg");
      height: 95vh;
      background-size: cover;
      background-position: top;
      border-bottom: 20px solid #fff;

    }

    i{
      color: #fff;
      
    }

    .active{
   background-color: #051be5;
   color: white;
}


.text-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 60px;

}

.heading-primary{
  color: #fff;
  margin-bottom: 50px;

}


.heading-primary-main{
  display: block;
  font-size: 35px;
}


.heading-primary-sub{
    display: block;
    font-size: 15px;
    word-spacing: 5px;
    margin-top: 25px;
    line-height: 20px;
    font-weight: normal;

}

.logo-image{
  color: #fff;
  background-color: #ff6000;
}

.btn-contact{
  background-color: #ff6000;
  padding: 12px;
  border-radius: 2px;
  display: inline-block;
}

.btn-services{
  background-color: #051be5;
  padding: 12px;
  border-radius: 2px;
  display: inline-block;


}

.btn-contact:hover{
  background-color: #ffa166;
}

.btn-services:hover{
  background-color: #3346ff;

}

.li-item:hover{
  background-color: #ffa166;
}

.container{
  display: flex;
  flex-direction: row;
  align-items:  ;
  width: 100%;
  justify-content: center;
  

}

.fresh-approach{
  display: block;
  margin-bottom: 20px;
  font-size: 25px;
}
 
.financial-markets{
  display: block;
  margin-bottom: 20px;
  font-size: 12px;


}

.financial-markets2{
  display: block;
  margin-bottom: 40px;
  font-size: 12px;


 }

.item{
  padding: 30px;
  margin: 30px;
  font-size: 15px;
  width: 30%;


} 

.lorem-ipsum{
  background-image: url("Images/blog-detail.jpg") ;
  background-size: cover;
  color: #fff;
  align-content: stretch;
  height: 400px;
  position: relative;


}

.inside-div{
  background-color: #051be5;
  padding: 20px;
  width: 60%;
  font-size: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.second-inside-div{
  background-color: #ff6000;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
  font-size: 25px;
  width:60px;
  text-align: center;
}

.item-2{
  width: 40%;
  color: #fff;
}


.text-and-bgimage{
  position: static;
}

.display-not{
  background-color: #051be5;
  position: relative;
  padding: 80px;
}

.portrait-img{
  width: 400px;
  height: 550px;
  position: absolute;
  top: -45px;
  left: 80px;
}

.btn-read-more{
  background-color: #ff6000;
  font-size: 10px;
  padding: 20px;
  border-radius: 3px;
  font-weight: normal;
}

.greater-than{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ff6000;
  color: #fff;
  padding: 15px;
  font-size: 25px;
  width:60px;
  text-align: center;

}

.caption{
  background-color: #ff6000;
  position: absolute;
  left: 80px;
  bottom: 0;
  padding: 10px;

}

.fresh-approach-2{
  color: #fff;
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

.financial-markets-2{
  color: #fff;
  font-size: 12px;
  display: block;
  font-weight: normal;


}

.third-section{
  border-bottom: 70px solid #fff;
}

.second-section{
  border-bottom: 70px solid #fff;
}

.fourth-section{
  border-bottom: 30px solid #fff;
}

.our-services{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;

}

.all-exclusive{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;


}

.the-financial{
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: bold;


}

.container-ii{
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.container-iii{
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.all-items{
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  width: 20%;
  height: 33.3%;
  box-shadow:  0 8px 8px -6px black;


}

.items-text{
  font-size: 12px;
  margin-top: 10px;

}

.items-icons{
  color: #051be5;
  font-size: 20px;
}

.active-item{
  border-bottom: 3px solid #ff6000;
}

.fifth-section{
  border-bottom: 60px solid #fff;
}

.sixth-section{
  border-bottom: 40px solid #fff;
  
}

.display-not-ii{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding: 30px;
  background-color: #eee;
}

.unsplash-img{
  width: 600px;
  height: 500px;
}

.inner-container-1{
  display: flex;
  flex-direction: row;
}

.inner-container-2{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.inner-container{
  margin: 30px;
  padding: 20px;
}


.display-not-iii{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.abu-dhabi{
  width: 500px;
  height: 400px;
}

.no-class{
  padding: 30px;
  margin: 30px;
}


.btn-play-store{
  background-color: #ff6000;
  font-size: 10px;
  padding: 20px;
  border-radius: 3px;
  font-weight: normal;
}

.btn-app-store{
  background-color: #051be5;
  font-size: 10px;
  padding: 20px;
  border-radius: 3px;
  font-weight: normal;

}

.seventh-section{
  border-bottom: 30px solid #fff;
}

.all-itemss{
  background-color: #051be5;
  text-align: center;
  margin: 20px;
  padding: 20px;
  width: 20%;
  height: 350px;
  color: #fff;

}

.btn-read-more-2{
  padding: 10px;
  font-size: 10px;
  background-color: #ff6000;
  border-radius: 3px;
}

.eighth-section{
  border-bottom: 30px solid #fff;
}



.ninth-section{
  border-bottom: 30px solid #fff;
}


.form-1{
  background-color: #051be5;
  margin: 30px;
  padding: 80px;
}


.input-type, select{
  width: 300px;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  border: 1px #fff;

}



.submit-now{
  width: 300px;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  background-color: #ff6000;
  margin-top: 10px;
  border: 1px #ff6000;
  color: #fff;


}


.tenth-section{
  border-bottom: 30px solid #fff;
}

.elevnth-section{
  border-bottom: 30px solid #fff;
}

.talent-wins{
}

.twelvth-section-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
}


.davidimg{
  width: 400px;
}

.arrow-1{
  background-color: #ff6000;
  width: 30px;
  color: #fff;
  padding: 5px;
  font-weight: bolder;
  border: 1px #ff6000;
  font-size: 20px;
  border-radius: 3px;


}

.arrow-2{
  background-color: #051be5;
  width: 30px;
  color: #fff;
  padding: 5px;
  font-weight: bolder;
  border: 1px #051be5;
  font-size: 20px;
  border-radius: 3px;




}

.paragraph{
  font-size: 12px;
  margin-top: 15px;
}

.heading-3{
  margin-top: 15px;
  margin-bottom: 15px;
}

.quotation{
  font-size: 160px;
  color: #051be5;
  position: absolute;
  right: 200px;
}

h2{
  color: #ff6000;
}

.short-hr{
  width: 220px;
  float: right;
}

.twelvth-section{
  border-bottom: 70px solid #fff;
}

.Thirteenth-section{
  border-bottom: 50px solid #fff;

}

.fourteenth-section{
  border-bottom: 30px solid #fff;

}

.fifteenth-section{
  border-bottom: 30px solid #fff;

}


.hello{
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.finance{
  font-size: 18px;
}

.read{
  background-color: #ff6000;
  width: 80px;
  padding: 10px;
  color: #fff;
  border: 1px #ff6000;
  font-size: 10px;
  border-radius: 3px;
  margin-top: 10px;
}

.div-1{
  padding: 10px;
  margin: 10px;
  background-color: #eee;
}

.div-2{
   padding: 10px;
   margin: 10px;
   background-color: #051be5;
   color: #fff;


 
}

.div-3{
    padding: 10px;
    margin: 10px;
    background-color: #eee;



}

.paragraph-1{
  margin-bottom: 15px;
}

.h2-1{
    margin-bottom: 15px;

}

.white-text{
  color: #fff;
}

.clients{
/*  background-color: #eee;
*/ margin: 30px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 15px solid #fff;
  animation-name: moveInLeft;
  animation-duration: 6s;
  animation-delay: 6s;
  animation-iteration-count: 200;

}

.last-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*.footer-elements{
  width: 25%;
}*/

.last-paragraph{
  font-size: 13px;
}

.paragraph-ii{
  margin-bottom: 10px;
}

.facebook{
  color: #ff6000;
}

.twitter{
  color: #051be5;
  margin-left: 10px;

}

.instagram{
  color: #051be5;
  margin-left: 10px;
 
}

.pinterest{
  color: #051be5;
  margin-left: 10px;

}

.google-plus{
  color: #051be5;
  margin-left: 10px;
 
}

.social-media{
  float: right;
}

.final-div{
background-color: #eee;
padding: 20px;
margin-top: 25px;
}

.email{
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #eee;
  

}

.finanx{
  color: #051be5;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 20px;
  text-decoration: underline;
}

.item-box{
display: flex;
justify-content: center;
flex-direction: row;
background-image: url("Images/bg-4.jpg");
background-size: cover;
position: relative;

}

.item-box-1{
margin: 20px;
background-image: url("Images/bg-2.jpg");
background-size: cover;
padding: 80px;
height: 10%;
width: 10%;
position: absolute;
top: px;
right: 800px;
bottom: 1px;
text-align: center;
color: #fff;
}

.item-box-0{
  flex: grid-row;
  background-image: url("Images/bg-4.jpg");
  background-size: cover;
  padding: 80px;
  height: 10px;
  width: 10%;
  position: absolute;
  bottom: 20px;
  right: 650px;
  text-align: center;
  color: #fff;

}

.item-box-3{
margin: 20px;
background-image: url("Images/bg-3.jpg");
background-size: cover;
padding: 80px;
height: 25px;
width: 10%;
margin-top: 150px;
text-align: center;
color: #fff;


}

.item-box-2{
flex: grid-row;
background-image: url("Images/bg-2.jpg");
background-size: cover; 
padding: 80px;
height: 35px;
width: 10%;
margin-top: 150px;
text-align: center;
color: #fff;




}

.request{
  color: #fff;
  position: absolute;
  background-color: #ff6000;
  top: 45px;
  right: 650px;
  padding: 10px;

}

.fas-fa{
  font-size: 20px;
}

@keyframes moveInLeft{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }

  60%{
    transform: translateX(10px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

.google-play{
  font-size: 20px;
}

.apple{
  font-size: 20px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  *{
    box-sizing: border-box;
  }

  .navigation {
/*    display: flex;
/**/    flex-direction: row;
*/    width: 100%;
      padding: 2px;
      margin-right: 0
/*    justify-content: center;
*//*    text-align: center;
*/  } 

  body{
      background: url("Images/Subtle-Prism.svg");

  }

  .greater-than{
    padding: 5px;
  }


  li{
/*    width:100% ;
*/    background-color: orange;
    font-size: 5px;
/*    padding: 7px;
*/

  }
  .flo{
    margin-left: 0px;
    padding: 3px;
      font-size: 18px;
/*    margin-right: 5px;
*/  }

  .icon{
/*    width: 100%;
*/    font-size:12px;
/*    display: block;
*//*    height: 22px;
*//*    margin: auto;
*/    padding: 5.5px;
  }

  .text-box{
    margin-bottom: 50px;
    width: 70%;

  }

  .heading-primary-main{
    font-size: 30px;
  }

  .heading-primary-sub{
    font-size: 15px;
  } 

  .btn-contact{
    font-size: 7px;
    padding: 10px;
    margin-bottom: 100px;
  }

  .btn-services{
    font-size: 7px;
    padding: 10px;

  }
  /*.text-box{
    width: 80%;
    margin-top: 242px;
    padding: 5px;
  }*/

  .first-section{

  }

 /* @keyframes slideInLeft{
      0%{
        opacity: 0;
        transform: translateX(-100px);
      }

      60%{
        transform: translateX(10px);
      }

      100%{
        opacity: 1;
        transform: translate(0);
      }
    }*/
    

  .first-section{
    background-image: url("Images/bg-2.jpg");
      background-position: center;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start; ;
    width: 100%;
    padding: 1px;
    
  
  }
  
  .fresh-approach{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
    width: 300px;
      }
   
  .financial-markets{
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
        width: 300px;
  }

  .financial-markets2{
    font-size: 15px;
      width: 250px;

  }

  .lorem-ipsum{
    background-positon: center;
    width: 300px;
    height: 200px;

  }

  .inside-div{
    font-size: 8px;
    height: 70px;
    padding: 3px;
  }

  .second-inside-div{
   /* width: 5px;
    height: 8px;
    font-size: 8px;*/
  }
  
  .services2{
    font-size: 10px;
    background-color: #051be5;
    padding: 6px;
    margin-bottom: 50px;
    
  }

  .item-1{
    border-bottom: 10px solid #ff6000;
    border-top: 10px solid #051be5;

  }

  .display-not{
    display: flex;
    flex-direction: column;
    padding: 15px;


  }

  .second-section{
  border-bottom: 10px solid #000;
  margin-bottom: 20px;

  }

  .fourth-section{
    border-top: 10px solid #ff6000;
  }

  .text-and-bgimage{
    display: none;
  }

.btn-read-more{
  font-size: 7px;
    padding: 10px; 
}

.container-ii{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.container-iii{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-top: 10px solid #051be5;
        border-bottom: 10px solid #000;

}

.all-items{
  width: 310px;
}

.items-text{
    font-size: 13px;
    font-weight: bold;

}

.inner-container-1{
  display: flex;
  flex-direction: column;
}

.inner-container-2{
  display: flex;
  flex-direction: column;
/*  margin-top: 20px;
*/}

.all-items-2{
  margin-bottom: 20px;
  border-left: 2px solid #ff6000;
  padding: 3px;
}

.display-not-ii{
}

.btn-play-store{
  background-color: #ff6000;
  font-size: 10px;
  padding: 5px;
  border-radius: 3px;
  font-weight: normal;
}

.btn-app-store{
  background-color: #051be5;
  font-size: 10px;
  padding: 5px;
  border-radius: 3px;
  font-weight: normal;

}

.apple{
  font-size: 10px;
}
.google-play{
 font-size: 10px;

}

.seventh-section{
    border-top: 10px solid #051be5;
    border-bottom: 10px solid #000;

}

.section-three-span{
  margin-top: 15px;
}

.all-itemss{
 
*/background-color: #051be5;
  padding: 20px;
    margin: 10px;

  width: 310px;
  height: 33.3%;
  box-shadow:  0 8px 8px -6px black;

}

.ninth-section{
  border-bottom: 10px solid #000;
}

.davidimg{
  width: 300px;
    height: 250px;
}

.twelvth-section-container{
  display: flex;
  flex-direction: column;
  position: relative;
}

h2{
  width: 300px;
  font-size: 15px;
}

hr, .short-hr{
  display: none;
}

.paragraph{
  width: 300px;
  font-weight: bold;
}

.heading-3{
  width: 200px;
}

.quotation{
  font-size: 30px;
  position: absolute;
  right: 8px;
  bottom: 230px;
}

.arrow-1, .arrow-2{
  display: none;
}

.paragraph-ii{
  margin-top: 20px;
  color: #fff;
  }

  .clients{
    display: flex;
    flex-direction: row;
   justify-content: flex-start;
  }

  .com-logo{
    width: 50px;
  }

  .fourteenth-section{
    border-bottom: 10px solid #eee;
  }

  footer{
    background-color: #242424;
    padding: 10px;
  }

  .last-paragraph{
    color: #fff;
  }

  .two-18{
    font-size: 8px;
    color: #fff;
  }

  .final-div{
    background-color: #242424;
  }

  .unsplash-img{
    width: 350px;
    height: 250px;
  }

  .tenth-section{
    background-size: cover;
    background-position: center;
    border-bottom: 10px solid #000;
  }

  .item-box{
    position: relative;
  }

  .item-box-0{
    width: 50px;
    margin: 0;
    padding: 2px;
    position:absolute;
    left: 0;
    display: none;
  }

  .item-box-1{
   width: 50px;
    margin: 0;
    padding: 2px;
    position:absolute;
    left: 0;
    display: none;
  }

  .item-box-2{
   width: 150px;
   height: 140px;
   margin-top: 30px;
   margin-left: 180px;
  padding: 30px;
  border-bottom: 10px solid #ff0000;
  /* position:absolute;
  left: 0*/;
  }

  .item-box-3{
     width: 150px;
   height: 140px;
   margin-top: 30px;
  padding: 30px;
    border-bottom: 10px solid #ff0000;

 }
*/
  .item-box-4{
/*    width: 50px;
*/    margin: 0;
    padding: px;
    position:absolute;
    left: 0;
    bottom: 0;
  }

  

  .input-type, select{
  width: 190px;
  border-radius: 4px;
  padding: 3px;
/*  margin: 10px;
*/  border: 1px #fff;

}

.submit-now{
  width: 190px;
  text-align: center;
  border-radius: 4px;
  padding: 3px;
/*  margin: 10px;
*/  background-color: #ff6000;
  margin-top: 10px;
  border: 1px #ff6000;
  color: #fff;


}

.request{
  width: 500px;
  display: block;
  color: #fff;
 position: absolute;
*/  background-color: #ff6000;
/*  top: 45px;
/*  right: 650px;
*/  padding: 10px;

}

.form-1{
  padding: 40px;
  background-color: #242424;
}

.fas-fa{
  margin-bottom: 5px;
}

}

 @media (m
  }
 }




